.board {
  position: absolute;
}


#block1 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

#block2 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block3 {
  width: 100px;
  height: 100px;
  background-color: violet;
}
#block4 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block5 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block6 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block7 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block8 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block8 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block9 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}

#block10 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

#block11 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 500px;
}

#block12 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block13 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}

#block14 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

#block15 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 500px;
}

#block16 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block17 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}




