.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 각 블록들의 색상을 지정합니다 */
#block1 { background-color: violet; }
#block2 { background-color: green; }
#block3 { background-color: violet; }
#block4 { background-color: green; }
#block5 { background-color: violet; }
#block6 { background-color: green; }
#block7 { background-color: violet; }
#block8 { background-color: green; }
#block9 { background-color: green; }
#block10 { background-color: violet; }
#block11 { background-color: violet; }
#block12 { background-color: green; }
#block13 { background-color: green; }
#block14 { background-color: violet; }
#block15 { background-color: violet; }
#block16 { background-color: green; }
#block17 { background-color: green; }
