/* New Board */

.board {
  /* width: 40vw;
  height: 40vw;
  min-width: 300px;
  min-height: 300px; */
  /* 절대 중앙 정렬(화면 크기 맞춤) */
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -5%) perspective(30cm) rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  /* transform-style: preserve-3d; */
}

.board::after {
  content: "";
  position: absolute;
  top: 0;
  width: 600px;
  height: 600px;
  /*
  width: 100%;
  height: 100%;
  */
}

.board_wrapper {
  /* position: relative; */
  width: 700px;
  height: 700px;
  /*
  width: 100%;
  height: 100%;
  */
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.board_wrapper div {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.5);
  background: #ff0000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate3d(1, 0, 1, 0deg) translate3d(0px, 0px, 1px);
  /* box-shadow: 10px 10px 30px 10px #dadce0; */
}

/* .board_wrapper div.p1:before,
.board_wrapper div.p2:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50px;
  transition: all 0.5s;
} */

/* .board_wrapper div.p1:before {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.9) 100%);
  box-shadow: inset 0 0 1px #000000, 0px 1px 0px 1px #000000;
  border: 1px solid #040404;
} */

/* .board_wrapper div.p2:before {
  background: radial-gradient(ellipse at center, rgb(206, 0, 0) 0%, rgba(206, 0, 0, 0.9) 100%);
  box-shadow: inset 0 0 5px #000000, 0px 1px 0px 0px #403f3f;
  border: 1px solid #131212;
} */

/* .board_wrapper div.p1:hover:before,
.board_wrapper div.p2:hover:before {
  border: 2px solid yellow;
} */

/* .odd_row_cell:nth-child(odd) {
  background: red;
}

.even_row_cell:nth-child(even) {
  background: red
} */

.invisible {
  opacity: 0;
}
