.customDice {
  width: 49%;
  padding-top: 49%;
  position: relative;
}

.dice_inner {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100%;
  height: 100%;
  /* perspective: 3000px; */
  padding: 20%;
  box-sizing: border-box;
}

.dice_face1,
.dice_face2,
.dice_face3,
.dice_face4,
.dice_face5,
.dice_face6 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
  position: relative;
}

.face1,
.face2,
.face3,
.face4,
.face5,
.face6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.8; */
  color: #fff;
  font-size: 60px;
}

.dice_face1 {
  transform: rotateX(0deg) rotateY(0deg);
}

.dice_face2 {
  transform: rotateX(0deg) rotateY(-90deg);
}

.dice_face3 {
  transform: rotateX(-90deg) rotateY(0deg);
}

.dice_face4 {
  transform: rotateX(-270deg) rotateY(0deg);
}

.dice_face5 {
  transform: rotateX(0deg) rotateY(-270deg);
}

.dice_face6 {
  transform: rotateX(0deg) rotateY(-180deg);
}
