.container {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("../public/main/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  /* 로고 이미지 */
  width: 350px;
}

.boxContainer {
  /* padding-top: 160px; */
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 500px;
  min-height: 500px;

  background-image: url("../public/main/woodbox.png");
  background-size: cover;
}

.leftBox {
  margin-right: 20px;
}

.cam {
  background-color: black;
  width: 80%;
  height: 260px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.inputContainer {
  margin-top: 20px;
  width: 80%;
  height: 50px;
  text-align: center;
}

.nickname {
  width: 80%;
  height: 100%;
  font-size: 18px;
  text-align: center;
}

.startContainer {
  margin-top: 20px;
  position: relative;
  top: 10px;

  width: 80%;
  text-align: center;
}

.startBtn {
  width: 500px;
  margin: auto;
  position: absolute;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

/***** 오른쪽 박스 팁 시작 *****/
.innerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.tipTitle {
  font-weight: bold;
  font-size: 24px;
}

.tipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
}

.tipContent {
  min-width: 300px;
}

/* .tipContent>p {
  margin: 0;
  padding: 0;
} */

.arrow {
  width: 20px;
}
