.container {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("../public/game/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upper_container {
  /* position: static;
  display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw; */
}

.lower_container {
  /* display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw; */
}

.infobar {
  /* position: absolute; */
  background-color: rgb(255, 189, 114, 0.5);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.cam {
  background-color: rgb(0, 255, 38);
  width: 240px;
  height: 180px;
  border-radius: 50px / 50px;
}

.btnRolling {
  display: block;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  background-color: royalblue;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btnRolling::before {
  display: block;
  content: "";
  width: 60px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -60px;
  transition: all 0.5s;
  transform: skewX(-45deg);
  transform-origin: top left;
  opacity: 0.3;
}

.btnRolling:hover::before {
  transform: skewX(-45deg) translateX(280px);
}
