.container {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("../public/game/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.upper_container {
  /* position: static;
  display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw; */
}

.lower_container {
  /* display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw; */
}

.infobar {
  /* position: absolute; */
  background-color: rgb(255, 189, 114, 0.5);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.cam {
  background-color: rgb(0, 255, 38);
  width: 240px;
  height: 180px;
  border-radius: 50px / 50px;
}

.btnRolling {
  display: block;
  position: relative;
  width: 160px;
  height: 40px;
  padding: 0;
  /* margin: 0 auto; */
  margin: 10px auto;
  background: #FFAA40;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ;
  box-shadow: 0px 5px 0px 0px #A66615;
}

.btnRolling:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #A66615;
}

.modalContent {
  animation: fadeIn 1s;
  /* animation: fadeOut 1s; */
}

/* #modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 308px;
  background-color: #F2F4F6;
  border-radius: 20px;
  padding: 20px;
  z-index: 1;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
