.game_container {
  background-color: lightsalmon;
  /* width: 600px; */
  /* position: relative; */
  width: 450px;
  height: 450px;
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: visible; */
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 10px;
  width: 110px;
  height: 50px;
  background: #fc9f36;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}

.roof {
  /* 로고 담겨있는 DIV */
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: url("../public/main/roof.png");
  background-size: cover;
}

.title {
  /* 로고 이미지 */
  width: 350px;
}

.boxContainer {
  padding-top: 160px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 500px;
  min-height: 500px;

  background-image: url("../public/main/woodbox.png");
  background-size: cover;
}

.cam {
  background-color: black;
  width: 100%;
  height: 260px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.nickname {
  font-family: 'LeeSeoyun';
  position: relative;
  z-index: 1;
  top: -30px;
  margin: 0 auto;
  width: 80%;
  height: 50px;

  background-image: url("../public/nametag.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  text-align: center;
  color: white;
  font-size: 28px;
  line-height: 50px;
}

.upper_container {
  position: static;
  display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw;
  /* position: fixed; */
  /* width: 1000px;
  height: 600px; */
}

.lower_container {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  margin-left: 4.2vw;
  margin-right: 2.9vw;
  /* position: fixed; */
  /* width: 1000px;
  height: 600px; */
}


.camComponent1 {
  position: fixed;
  top: 180px;
  left: 20px;
  border-radius: 20px;
}

.camComponent2 {
  position: fixed;
  top: 180px;
  right: 20px;
  border-radius: 20px;
}

.camComponent3 {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 20px;
}

.camComponent4 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}