.container {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("../public/game/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

/* 화상 채팅 */
.camList {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: start; */
  margin: -40px 0px -10px 0;
  /* width: 100vw; */
}

.cam {
  width: 240px;
  height: 140px;
  background-color: black;
}

/* 채팅 */
.chatContainer {
  background-image: url("../public/room/chat.png");
  border: 3px solid #ae1010;
}

.outerChat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  width: 1020px;
  height: 200px;

  background-image: url("../public/room/chat.png");
  border: 3px solid #ae1010;
}

.innerChat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  width: 960px;
  height: 140px;
  background-image: url("../public/room/chat.png");
  border: 3px solid #ae1010;
}

.chatUnit {
  margin-top: 10px;
}

.chatUnit:first-child {
  margin-top: 0;
}

.chatUnit>.sender {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

.chatUnit>.time {
  padding-left: 5px;
  display: inline-block;
  font-size: 12px;
  color: gray;
}

.chatUnit>.message {
  font-size: 18px;
}

.chatArea {
  width: 100%;
  height: 100%;

  border: none;
  resize: none;
  font-size: 18px;

  background-color: transparent;
}

.chatArea:focus-visible {
  outline: none;
}

.chatInput {
  padding: 3px 14px;

  width: 880px;
  height: 30px;

  border-radius: 6px;
  font-size: 18px;
}

.sendBtn {
  margin-left: 10px;
  padding: 3px 14px;

  width: 100px;
  height: 40px;

  background-color: #ae1010;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
