.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.main {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.board {
  width: 70%; /* 조정 가능 */
  height: 70vh; /* 조정 가능 */
}
