.streamcomponent video {
  width: 250px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* margin: 10px; */
  margin-top: -80px;
  border-radius: 50px;
}

.nickname {
  font-family: 'LeeSeoyun';
  position: relative;
  z-index: 1;
  top: -30px;
  margin: 0 auto;
  width: 80%;
  height: 50px;

  background-image: url("../public/nametag.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 50px;
}

/* p {
  margin: 0;
} */

.videofilter {
  /* filter: brightness(200%); */
  /* filter: invert(100%); */
  /* filter: blur(5px); */
}