/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/map.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.board {
  position: absolute;
}

#block1 {
  width: 100px;
  height: 100px;
  background-color: black; /* 출발 지점 */
  margin-left: 10px;
}

#block2 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block3 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block4 {
  width: 100px;
  height: 100px;
  background-color: violet;
}
#block5 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block6 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block7 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block8 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}

#block9 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 500px;
}

#block10 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}

#block11 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 500px;
}

#block12 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 500px;
}

#block13 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block14 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block15 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block16 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block17 {
  width: 100px;
  height: 100px;
  background-color: violet;
}

#block18 {
  width: 100px;
  height: 100px;
  background-color: green;
}

#block19 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

#block20 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block21 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block22 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

#block23 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 10px;
}

#block24 {
  width: 100px;
  height: 100px;
  background-color: violet;
  margin-left: 10px;
}

