
body {
  background-image: url("../../public/main/background.png");
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
}

/* .first {
  background: #DF7339;
} */

.roof {  /* 로고 담겨있는 DIV */
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-image: url("../../public/main/roof.png");
  background-size: cover;
}

.roof > img { /* 로고 이미지 */
  width: 350px;
}

/* .leftBox {
  width: 650px;
  height: 542px;
  margin-left: 150px;
  margin-top: 10px;

  Component Gradation
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
} */

.boxContainer {
  padding-top: 160px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 500px;
  min-height: 500px;

  background-image: url("../../public/main/woodbox.png");
  background-size: cover;
}

.leftBox {
  margin-right: 20px;
}

.cam {
  background-color: black;
  min-width: 60%;
  max-height: 60%;
}

.inputContainer {
  margin-top: 20px;
  width: 80%;
  height: 50px;
  text-align: center;
}

.nickname {
  width: 80%;
  height: 100%;
  font-size: 18px;
}

.startContainer {
  margin-top: 20px;
  position: relative;
  top : 10px;

  width: 80%;
  text-align: center;
}

#startBtn {
  width: 500px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/***** 오른쪽 박스 팁 시작 *****/
.innerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#tipTitle {
  font-weight: bold;
  font-size: 24px;
}

#tipContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
}
#tipContent {
  min-width: 300px;
}
#tipContent > p {
  margin: 0;
  padding: 0;
}
.arrow > img {
  width: 20px;
}

/* #tip {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
} */

/* .imgCircle {
  box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 172.05px;
  left: 250px;
  top: 490px;

  background: #6F6F6F;
  border: 9px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 181.132px;
}

.inputNickname {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 500px;
  top: 470px;

} */
/* 
input {
  width: 200px;
  height: 72px;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
} */

/* .rightBox {
  position: absolute;
  width: 488px;
  ;
  height: 542px;
  left: 855px;
  margin-top: 10px;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
} */

/* #startBtn {
  position: absolute;
  width: 154px;
  height: 53px;
  left: 420px;
  top: 740px;
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 850;
  font-size: 45px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FF0034;

} */

/* #bottom {
  position: absolute;
  width: 500px;
  height: 36px;
  left: 479px;
  top: 800px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;

  color: green;
} */
