.container {
  /* position: fixed; */
  /* width: 1000px;
  height: 600px; */
}

.map {
  position: relative;
  width:100%;
  padding-top: 300px;
  /* padding-top: 60%; */
  /* padding-right: 60%; */
  /* margin-top: 50%; */

  /* height: 460px; */
  /* width: 692.82px;
  height: 460px; */
  /* margin: 1000px auto;

  margin-left: 1200px; */
}

#b1-t{
  position: absolute;
  width: 90px;
  height: 90px;
  /* width: 5%;
  height: 5%; */
  background: #4D4D4D;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 600, -140);
  margin: 0;
  z-index: 1;
  /* bottom: 10%;
  left: 50%; */

}
#b1-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  margin: 0;
  left: 0;
  bottom: 0;
  background: #262626;
  transform: matrix(0.87, 0.5, 0, 1, 560, -47);

}

#b1-r{
  position: absolute;
  width: 90px;
  height: 25px;
  margin: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #000000;
  transform: matrix(0.87, -0.5, 0, 1, 640, -47 );
}

#b2-t{
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 520, -96);
}
#b2-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 480, -93)
}

#b3-t{
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: 0;
  left: 0;
  margin: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 440, -141);
  margin: 0
}
#b3-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, 0.5, 0, 1, 401, -138)
}
#b4-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 361, -186);
  margin: 0
}
#b4-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 322, -183)
}
#b5-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 282, -231);
}
#b5-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, 0.5, 0, 1, 243, -228)
}
#b6-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 203, -276);
  /* z-index: 1; */
}
#b6-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 164, -273)
}

#b7-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: red;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 124, -321);
}
#b7-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #bf0c0c;
  transform: matrix(0.87, 0.5, 0, 1, 85, -318)
}

#b8-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 202, -366);
}
#b8-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 242, -364);
}
#b9-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 281, -411);
}
#b9-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, -0.5, 0, 1, 321, -409);
}
#b10-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 357, -455);
}
#b10-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 397, -453);
}
#b11-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 436, -500);
}
#b11-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, -0.5, 0, 1, 476, -498);
}
#b12-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 514, -545);
}
#b12-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 554, -543);
}
#b13-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: red;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 593, -590);
}
#b14-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 672, -545);
  margin: 0;
}
#b14-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 632, -543);
}
#b15-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 751, -500);
}
#b15-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, 0.5, 0, 1, 711, -498)
}
#b16-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 830, -455);
  margin: 0;
}
#b16-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 790, -453);
}
#b17-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 908, -410);
}
#b17-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, 0.5, 0, 1, 869, -408)
}
#b18-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 986, -365);
  margin: 0;
}
#b18-l{
  position: absolute; 
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCE593;
  transform: matrix(0.87, 0.5, 0, 1, 947, -363);
}
#b19-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: red;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 1064, -320);
}
#b19-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #bf0c0c;
  transform: matrix(0.87, -0.5, 0, 1, 1104, -318);
}
#b20-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 985, -275);
}
#b20-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 1025, -273);
}
#b21-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 907, -230);
}
#b21-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, -0.5, 0, 1,947, -228);
}
#b22-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 830, -186);
}
#b22-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 870, -184);
}
#b23-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDCFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 752, -141);
}
#b23-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FCB193;
  transform: matrix(0.87, -0.5, 0, 1, 792, -139);
}
#b24-t{
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #FDEFBD;
  transform: matrix(0.87, 0.5, -0.87, 0.5, 674, -95);
}
#b24-r{
  position: absolute;
  width: 90px;
  height: 25px;
  left: 0;
  margin: 0;
  bottom: 0;
  background: #E1C665;
  transform: matrix(0.87, -0.5, 0, 1, 714, -93);
}

/* #modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 308px;
  background-color: #F2F4F6;
  border-radius: 20px;
  padding: 20px;
  z-index: 1;
} */

#modalContent {
  animation: fadeIn 1s;
  /* animation: fadeOut 1s; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* @keyframes fadeOut {
  100% { opacity: 1; }
  0% { opacity: 0; }
} */